@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-lato;
  }
}

body {
  background-color: #f8f9fa;
}

.text-shadow {
  text-shadow: 2px 2px 3px white;
}

.logo-top {
  height: 125px;
}

.card-image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.footer {
  min-height: 40px;
  background: linear-gradient(to bottom, #f8f9fa, #f2b635b2);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
